// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// my scheme
$stone: #A89792;
$aqua: #8ac9b6;
$lilac: #9e97f2;
$tangerine: #ED4741;
$obsidian: #0D0D0D;
$ecru: #F7F7F7;

