
  <div class="wrapper-team">
    <div class="about-team">
      <h1>This template is built with <i class="fa fa-heart"></i> by</h1>
      <ul class="list-inline">
        <li>
          <img src="images/profile.jpg" class="img-circle" alt="sdoyle">
          <h2>Sonya Doyle</h2>
          <p>
          <a href="#">
            <i class="fa fa-github"></i> sdoyle
          </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
